<%- include("partials/header.ejs") %>

    <form action="/updateReview" method="post">
      <input type="hidden" name="cover_ISBN" value="<%= locals.cover %>">
      <input type="hidden" name="title" value="<%= locals.title %>">
      <input type="hidden" name="author" value="<%= locals.author %>">
      <input type="hidden" name="book_id" value="<%= locals.book_id %>">
    <div class="container">
        <div class="container col-xxl-8 px-4 py-3">
            <div class="row align-items-start py-4 pt-4">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://covers.openlibrary.org/b/isbn/<%= locals.cover %>-L.jpg" class="d-block img-fluid" alt="Bootstrap Themes" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="text-body-emphasis lh-1 mb-3"><%= locals.title %></h1>
                <p class="text-body-emphasis lh-1 mb-3" style="font-size: 20px;">By <%= locals.author %></p>
                <span class="lead"><strong><u>Edit Review</u></strong>:</span>
                <br>
                <textarea name="review" cols="60" rows="10" class="lead" style="resize: none;"><%= locals.review %></textarea>
                <br>
                <span class="lead"><strong><u>Rating</u></strong>:</span>
                <br>
                <textarea name="rating" cols="2" rows="1" class="lead" style="resize: none;"> <%= locals.rating %> </textarea>
                <span><strong class="rating ">/10</strong></span>
                <!-- <p class="lead"><strong><u>Review Date</u></strong>: 02/10/2024</p> -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-start buttom">
                  <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2">Update</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    </form>
    <%- include("partials/footer.ejs") %>